@import 'colors';
@import 'fonts';
@import 'message';
@import 'tableau';
@import 'facebook';

body {
    color: lighten($fontColorOne, 20%);
    font: 75% $textFont;
    background: $backgroundColor;
    margin: 0px;
    padding: 0px;
}

.header {
    width: 640px;
    margin: 0px auto;
}

.header__text {
    font: bold 3em $headerFont;
}

.footer {
    width: 640px;
    margin: 0px auto;
}

.privacy {
    width: 640px;
    margin: 0px auto;
    transition: display 1s;
    margin-bottom: 50px;
}

small {
    display: block;
    margin: 10px 0px;
}
